* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  h1 {
    text-align: left;
  }
  .botoes {
    margin: 0;
    display: flex;
    align-items: start;
    justify-content: left;
  }
  button > a {
    text-decoration: none;
    color: black;
  }
  .button {
    height: 30px;
    width: 95px;
    margin: 8px;
    font-size: 13px;
    font-weight: 500;
    color: black;
    background-color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 8px 15px rgba(206, 55, 55, 0);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .button:hover {
    background-color: #ffd9007e;
    box-shadow: 0px 10px 15px #ffdf2c9a;
    color: #fff;
    transform: translateY(3px);
  } 
  
  .header, .footer {
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem;
  }
  
  .main {
    display: flex;
    flex: 1;
    gap: 1rem;
    padding: 1rem;
  }
  .banner {
    background-color: #ffd700;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    
  }
  
  .content {
    flex: 1;
    background-color: #f2f2f2;
    padding: 1rem;
    text-align: start;
    
  }
  .content > h2 > a {
    text-align: left;
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  .content a:hover {
    color: #ffd700;
  }
  
  /* Responsivo para tablets */
  @media (max-width: 1024px) {
    .main {
      flex-direction: column;
    }
  
    .content {
      font-size: 1.1rem;
    }
  }
  
  /* Responsivo para smartphones */
  @media (max-width: 600px) {
    .header h1 {
      font-size: 1.5rem;
    }
  
    .content {
      font-size: 1rem;
      padding: 0.8rem;
    }
    /* layout principal */
    .layout {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;
    }
  
  /* banners padrão (mobile) */
    .banner {
      background-color: #ffd700;
      text-align: center;
      padding: 1rem;
      font-weight: bold;
      
    }
  
  /* main como coluna no mobile */
  .main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  /* responsivo: tablets e notebooks */
  @media (min-width: 768px) {
    .layout {
      flex-direction: row;
    }
  
    .banner-um,
    .banner-dois {
      flex: 0 0 150px; /* largura dos banners */
      align-self: stretch;
    }
  
    .main {
      flex: 1;
      flex-direction: row;
    }
  }
  
    .footer {
        background-color: #ffffff63;
      font-size: 0.9rem;
    }
  }
  