@charset "UTF-8";
@font-face {
    font-family: 'Montserrat-Regular';
    src: url(Montserrat-Regular.ttf) format('opentype');
    font-weight: normal;
}
* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor0: #8c52ff;
    --cor1: #4E00EB;
    --cor1b: #322b415b;
    --cor2: #533296;
    --cor3: #47366B;
    --cor4: hsl(259, 20%, 21%);

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-Montserrat-Regular: 'Montserrat-Regular';
 
}
html, body {
    font-family: var(--font-Montserrat-Regular);
    width: 100vw;
    background-color: black;
    
}
body {
    background: url('../imagens/fundo-madeira.jpg');
}
header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor1b));
    font-family: var(--font-Montserrat-Regular);
    width: auto;
    background-color: white;
    min-height: 100px;
    padding-top: 30px;
    padding: 20px;
}
header > h1 {
    font-size: 3em;
    font-weight: bold;
}
nav {
    text-align: center;
    background-color: #47366bcc;
    padding: 5px;
    margin: 2px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.486);
}
nav > a {
    
    height: 45px;
    margin: 10px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-weight: 500px;
    margin-right: 30px;
    transition-duration: 0.5s;
}
nav > a:hover {
    box-shadow: 0px 15px 20px rgba(46, 73, 229, 0.4);
    text-decoration: none;
    background-color: var(--cor0);
    color: white;
    transform: translateY(7px);
}
main a {
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    margin-right: 12px;
    padding: 0%;
}
a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

main {
    position: relative;
    background-color: black;
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

    
       
}

main p {
    margin: 15px 10px;
    text-align: justify;
    text-indent: 15px;
    font-size: 1.03em;
    line-height: 1.5em;
}
section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    
    background: url('../imagens/frame-iphone.png') no-repeat;
}
iframe#tela {
    position: relative;
    top: 80px;
    left: 23px;
    width: 265px;
    height: 470px;
}
p#rodape {
    text-align: center;
    margin: 0px;
}
footer a {
    color: white;
}
footer a:hover {
    text-decoration: none;
    color: black;
}
footer {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    text-align: center;
    background-color: var(--cor2);
    color: white;   
    padding: 5px;
    margin: 0px;
}