@charset "UTF-8";
@font-face {
    font-family: 'Montserrat-Regular';
    src: url(Montserrat-Regular.ttf) format('opentype');
    font-weight: normal;
}
* {
    margin: 10px;
    padding: 0px;
}
html {
    margin: 0px;
}
:root {
    --cor0: #8c52ff;
    --cor1: #4E00EB;
    --cor1b: #322b415b;
    --cor2: #533296;
    --cor3: #47366B;
    --cor4: hsl(259, 20%, 21%);

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-Montserrat-Regular: 'Montserrat-Regular';
 
}
body {
    min-height: 100vh;
    font-family: var(--font-Montserrat-Regular);
    background-color: #322b415b;
    margin: 0px 0px;
}
header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor1b));
    font-family: var(--font-Montserrat-Regular);
    margin: 0%;
    width: auto;
    background-color: white;
    min-height: 100px;
    padding-top: 30px;
    padding: 20px;
}
header > h1 {
    font-size: 3em;
    font-weight: bold;
}
section#header{
    padding-top: 28px;
    border-radius: 10px 0px;
    font-variant: small-caps;
    background-color: white;
    text-align: center;
}
p#milton {
    padding-bottom: 28px;
    text-align: center;
}
section.normal > p {
    line-height: 2em;
}
section.normal, section.image {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 38px;
}
section.normal {
    background-color: var(--cor3);
    
}
section.image {
    background-color: var(--cor4);
    
}
section.image > p {
    color: white;
    line-height: 2em;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.616);
}
nav {
    text-align: center;
    background-color: #47366bcc;
    padding: 5px;
    margin: 2px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.486);
}
div.video {
    background-color: var(--cor3);
    margin: 0px -20px;
    padding-bottom: 59%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 1%;
    left: 1%;
    bottom: 1%;
    width: 95%;
    height: 95%;
}
main a {
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    margin-right: 12px;
    padding: 0%;
}
a:hover {
    text-decoration: underline;
    color: var(--cor2);
}
nav > a {
    width: 140px;
    height: 45px;
    margin: 10px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-weight: 500px;
    margin-right: 30px;
    transition-duration: 0.5s;
}
nav > a:hover {
    box-shadow: 0px 15px 20px rgba(46, 73, 229, 0.4);
    text-decoration: none;
    background-color: var(--cor0);
    color: white;
    transform: translateY(7px);
}
main {
    background-color: #8c52ff3f;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    min-width: 300px;
    max-width: 900px;
    border-radius: 15px 0px;
    box-shadow: 3px 7px 7px rgba(0, 0, 0, 0.39);
}
main img {
    width: 100%;
    padding: auto;
    margin: auto;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
main p {
    margin: 15px 10px;
    text-align: justify;
    text-indent: 15px;
    font-size: 1.03em;
    line-height: 1.5em;
}
aside {
    background-color: var(--cor1b);
    padding: 10px;
    border-radius: 10px 0px;
    box-shadow: 3px 3px 3px #01000270;
}
aside > h3 {
    background-color: var(--cor3);
    color: white;
    padding: 7px 7px 7px 17px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 0px 0px 0px;
}
aside > ul {
    font-size: 13px;
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}
p#rodape {
    text-align: center;
    margin: 0px;
}
footer a {
    color: white;
}
footer a:hover {
    text-decoration: none;
    color: black;
}
footer {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    text-align: center;
    background-color: var(--cor2);
    color: white;   
    padding: 5px;
    margin: 0px;
}